<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>影讯添加</title>
    <link rel="stylesheet" th:href="@{/bootstrap4/bootstrap.css}">
    <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{home::nav}"/>
<div class="mt-5 mb-3">
    <h1 class="text-center">添加影讯</h1>
    <form th:action="@{/admin/news/add}" method="post">
        <div class="form-group">
            <label for="newsTitle">影讯标题</label>
            <input type="text" class="form-control" id="newsTitle" name="newsTitle" required>
        </div>
        <div class="form-group">
            <label for="newsTagline">影讯简介</label>
            <input type="text" class="form-control" id="newsTagline" name="newsTagline" required>
        </div>
        <div id="editor—wrapper" style="border: 1px red solid">
            <div id="toolbar-container"><!-- 工具栏 --></div>
            <div id="editor-container"><!-- 编辑器 --></div>
        </div>
        <div class="container text-center">
            <button type="submit" class="btn btn-primary w-25 mt-2 text-center">添加影讯</button>
        </div>
    </form>
</div>
<script th:src="@{/jquery/jquery.js}"></script>
<script th:src="@{/bootstrap4/bootstrap.js}"></script>
<script th:src="@{/bootstrap4/bootstrap.bundle.js}"></script>
<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<script>
    const {createEditor, createToolbar} = window.wangEditor

    let htmlContent;

    const editorConfig = {
        placeholder: 'Type here...',
        onChange(editor) {
            htmlContent = editor.getHtml();
        },
        MENU_CONF: {
            uploadImage: {
                server: "/admin/news/upload",
                fieldName: "file",
            }
        }
    }

    const editor = createEditor({
        selector: '#editor-container',
        html: '<p><br></p>',
        config: editorConfig,
        mode: 'default', // or 'simple',
    })

    const toolbarConfig = {}

    const toolbar = createToolbar({
        editor,
        selector: '#toolbar-container',
        config: toolbarConfig,
        mode: 'default', // or 'simple'
    })

    $("form").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/admin/news/add",
            method: "post",
            data: {newsTitle: $("#newsTitle").val(), newsContent: htmlContent, newsTagline: $("#newsTagline").val()},
            success: (res) => {
                if (res === "ok") {
                    alert("添加成功");
                    window.location.href = '/admin/news/list';
                } else {
                    alert("添加失败");
                }
            }, error: (res) => {
                alert("网络错误！");
            }
        })
    });
</script>
</body>
</html>