<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>演员添加</title>
    <link rel="stylesheet" th:href="@{/bootstrap4/bootstrap.css}">
</head>
<body>
<th:block th:replace="~{home::nav}"/>
<div class="container text-center mt-5 mb-3">
    <h1>添加演员</h1>
    <form th:action="@{/admin/cast/add}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="castName">演员名字</label>
            <input type="text" class="form-control" id="castName" name="castName" required>
        </div>
        <div class="form-group">
            <label for="castProfileImg">演员头像</label>
            <input type="file" class="form-control" id="castProfileImg" name="castImg" required>
        </div>
        <button type="submit" class="btn btn-primary w-25">添加演员</button>
    </form>
</div>
<script th:src="@{/jquery/jquery.js}"></script>
<script th:src="@{/bootstrap4/bootstrap.js}"></script>
<script th:src="@{/bootstrap4/bootstrap.bundle.js}"></script>
</body>
</html>