<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap4/bootstrap.css}">
</head>
<body>
<div class="container m-5">
    <form th:action="@{/admin/cast/update}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-3 text-center">
                <img height="333px" th:src="${'https://onlinecinema.oss-cn-beijing.aliyuncs.com/image'+cast.castProfileImg}" alt="...">
                <button type="button" class="btn btn btn-primary mt-2" onclick="changePosterImg()">更改图片</button>
                <input type="file" style="display: none" id="posterimg" name="castImg">
            </div>
            <div class="col-9">
                <div class="form-group">
                    <label for="castName">演员名：</label>
                    <input type="text" class="form-control" id="castName" name="castName"
                           th:value="${cast.castName}" required>
                </div>
                <input type="hidden" name="castId" th:value="${cast.castId}">
                <button type="submit" class="btn btn-primary w-25 text-center" style="display:block;margin: 8px auto;">
                    更新
                </button>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/jquery/jquery.js}"></script>
<script th:src="@{/bootstrap4/bootstrap.js}"></script>
<script th:src="@{/bootstrap4/bootstrap.bundle.js}"></script>
<script th:src="@{/layer/layer.js}"></script>
<script th:inline="javascript">

    $("form").on("submit", function () {
        parent.layer.closeAll();
    });

    function changePosterImg() {
        $("#posterimg").click();
    }
</script>
</body>
</html>