<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyetech.onlinecinemamanager.mapper.MovieCastMapper">

    <resultMap id="MovieCastResultMap" type="com.liuyetech.onlinecinemamanager.domain.MovieCast">
        <id property="movieCastId" column="movie_cast_id" jdbcType="INTEGER"/>
        <result property="movieCastMovieId" column="movie_cast_movie_id" jdbcType="INTEGER"/>
        <result property="movieCastCastId" column="movie_cast_cast_id" jdbcType="INTEGER"/>
        <association property="cast" column="movie_cast_cast_id"
                     resultMap="com.liuyetech.onlinecinemamanager.mapper.CastMapper.BaseResultMap"/>
    </resultMap>

    <sql id="Base_Column_List">
        movie_cast_id,movie_cast_movie_id,movie_cast_cast_id
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="movieCastId" keyColumn="movie_cast_id">
        insert into tb_movie_cast(movie_cast_movie_id, movie_cast_cast_id)
        values (#{movieCastMovieId}, #{movieCastCastId})
    </insert>

    <select id="selectList" resultMap="MovieCastResultMap">
        select a.*,b.*,c.*
        from tb_movie_cast a,
        tb_movie b,
        tb_cast c
        where a.movie_cast_movie_id = b.movie_id
        and a.movie_cast_cast_id = c.cast_id
        <if test="ew != null and ew.sqlSegment != ''">
            and ${ew.sqlSegment}
        </if>
    </select>
</mapper>
